.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-wrap: wrap;
}

.title {
  color: rgb(91, 91, 91);
  margin-top: 3rem;
  font-size: 1.7rem;
  margin-left: 5rem;
  font-weight: 500;
}

@media (min-width: 1416px) {
  .centerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 90rem;
  }
}

@media (max-width: 430px) {
  .title {
    font-size: 2rem;
  }
}
