.bigPicture_container {
  width: 28rem;
  overflow: hidden;
}

.bigPicture_container img {
  width: 100%;
  object-fit: cover;
}

.smallPicture {
  width: 4.5rem;
  margin: 0.8rem 0.5rem;
  cursor: pointer;
}

@media (max-width: 823px) {
  .sImgContainer {
    margin-bottom: 2rem;
  }
  .bigPicture_container {
    width: 100%;
  }
  .smallPicture {
    width: 11rem;
    margin: 0.8rem 0.5rem;
    cursor: pointer;
  }
}
