.productCard {
  margin: 1.5rem 1rem;
  background-color: rgb(246, 246, 246);
  padding: 1.1rem;
  width: 11.5rem;
  flex-basis: 22%;
  color: rgb(51, 51, 51);
}

.name {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  font-size: 0.9rem;
}

.price {
  font-size: 1.1rem;
  color: rgb(107, 107, 107);
}

.itemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgs {
  position: relative;
}

.cartIconContainer {
  display: flex;
  justify-content: end;
}

.cartIcon {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 1.2rem;
  color: rgb(124, 124, 124);
}

.addToCartIconContainer {
  display: flex;
  justify-content: end;
}

.productCard:hover .cartIcon {
  opacity: 1;
}

.overlay {
  opacity: 0;
  transition: opacity 0.35s;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 57, 57, 0.68);
  color: white;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

@media (max-width: 823px) {
  .productCard {
    width: 14rem;
  }
  .name {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .price {
    font-size: 1.5rem;
  }
}
