.container {
  padding: 2rem;
}

.productContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.title {
  padding-left: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #7f7f7f;
}

.productContainer {
  scroll-behavior: smooth;
}

.rollBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBtn,
.rightBtn {
  font-size: 2rem;
  height: 10%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

@media (max-width: 823px) {
  .title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 1416px) {
  .container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
